<div class="section-1 mt-4">
  <div class="container text-center">
    <div class="border mt-4">
      <div class="mt-4 mb-4 ml-4 heading1 text-left">
        select Delivery Address
        <span class="pull-right"
          ><a routerLink = "/addressbook" class="text-right addAddress pr-4"
            >+ Add New Address</a
          ></span
        >
      </div>
      <hr />
      <div class="row">
        <div class="col-md-6">
          <div class="border1 mt-4 mb-4 ml-2 mr-2" style="border: 1px solid #eee">
            <div class="name text-left mt-2 mb-2 pl-4">
              Saurav Asopa
              <mat-checkbox class="pull-right mr-2"></mat-checkbox>
              <div class="address">
                004, Surya Palace Apartment
                <br>
                Noble Residency Road, Hulimavu
                <br>
                Bengaluru - 560076
                <br>
                Phone Number - 8658214798
              </div>
              <div class="edit mt-4 mb-2">
              <a>Edit</a>
            </div>
            </div>
          </div>
        </div>
      </div>
      <hr />
      <div class="text-right mb-2 mr-4">
        <button class="btn btn-primary">Continue</button>
      </div>
    </div>
  </div>
</div>
