<footer>
  <div class="container-fluid">
    <div class="row text-center">
      <div class="col-md-4">
        <hr class="light" />
        <div class="footer-section1"><a routerLink="/contact">Contact Us</a><br /></div>
        <div class="footer-section1">
          <a>Track Order</a>
        </div>
      </div>
      <div class="col-md-4">
        <hr class="light" />
        <div class="footer-section1"><a>About Us</a><br /></div>
        <div class="footer-section1"><a>We're Hiring</a><br /></div>
        <div class="footer-section1"><a>T&C</a><br /></div>
        <div class="footer-section1"><a>Blog</a><br /></div>
      </div>
      <div class="col-md-4">
        <hr class="light" />
        <div class="footer-section1">
          <a routerLink = "">Subscribe To NewsLetter</a>
        </div>
      </div>
      <div class="col-12">
        <hr class="light-100" />
        <h5><i class="fa fa-copyright" aria-hidden="true"></i>Fitneista.com</h5>
      </div>
    </div>
  </div>
</footer>
