<div class="section-1 mt-4">
  <div class="container text-center">
    <h1 class="heading-1">
      CONTACT US
    </h1>
    <p class="para-1 pt-4">Call Us</p>
    <p class="para-2">+91-7406096284</p>
    <p class="para-3">Monday - Friday, 9am - 8pm Indian Standard</p>
    <p class="para-4">Saturday - Sunday, 9am - 5pm Indian Standard</p>
    <p class="para-1 pt-4">Email Us</p>
    <a href="mailto:service@fitneista.com">service@fitneista.com</a>
    <p class="para-1 pt-4">Visit Us</p>
    <p class="para-4">Surya Palace Apartment<br>Noble Residency Road<br>Bengaluru-560076</p>
  </div>
</div>
