<div class="container-fluid">
  <div class="site-content">
    <div class="d-flex justify-content-center">
      <div class="d-flex flex-column">
        <h4 class="site-title heading-1">{{ header }}</h4>
        <h5 class="site-desc">{{ title }}</h5>
        <div class="d-flex flex-row">
          <input
            type="button"
            value="Get Quotes"
            class="btn site-btn1 px-4 py-3 mr-4 btn-dark"
          />
          <input
            type="button"
            value="View Gallary"
            class="btn site-btn2 px-4 py-3 mr-4 btn-dark"
          />
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section-1">
  <div class="container text-center">
    <h1 class="heading-1">
      Top Categories
    </h1>
    <div class="row">
      <div
        class="col-md-3"
        *ngFor="let category of categoryDetails; let i = index"
      >
        <div class="card" *ngIf="i < 4">
          <img src="{{ category.img_path }}" alt="" class="card-img-top" />
          <div class="card-body">
            <h4 class="card-title">{{ category.category_name }}</h4>
            <p class="card-text">
              {{ category.category_desc }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section-3">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="d-flex flex-row">
          <i class="fa fa-truck fa-3x m-2"></i>
          <div class="d-flex flex-column">
            <h3 class="m-2">Free Shipping</h3>
            <p class="m-2">
              Only pay for what you purchase. We will hand them to you for free.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="d-flex flex-row">
          <i class="fa fa-undo fa-3x m-2"></i>
          <div class="d-flex flex-column">
            <h3 class="m-2">Easy Returns</h3>
            <p class="m-2">
              Didn't like the product or it's not fit? Don't worry. We take it
              from your doorstep.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="d-flex flex-row">
          <i class="fa fa-phone fa-3x m-2"></i>
          <div class="d-flex flex-column">
            <h3 class="m-2">24/7 Support</h3>
            <p class="m-2">
              Have any queries related to the product?We are available at your
              service 24/7. Call us any time.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section-2">
  <div class="container-fluid">
    <div class="d-flex justify-content-end">
      <div class="d-flex flex-column">
        <h1 class="heading-1">Like & Share Your Love</h1>
        <p class="para">
          We would love to hear from you. Please share your feedback to us.
        </p>
        <input type="button" value="Share" class="btn btn-danger" />
      </div>
    </div>
  </div>
</div>

<div class="section-4 bg-dark mt-4">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <img src="../../../assets/education_student.jpg" alt="" width="590" />
      </div>
      <div class="col-md-5">
        <h1 class="text-white">Some text here</h1>
        <a href="#">Join Us</a>
        <p class="para-1">
          Some text here
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid padding mt-4">
  <div class="row welcome text-center">
    <div class="col-12">
      <h1 class="display-4">Meet the Team</h1>
    </div>
    <hr />
  </div>
</div>

<div class="container-fluid padding">
  <div class="row padding">
    <div class="col-md-3" *ngFor="let team of teamDetails">
      <div class="card">
        <img src="{{ team.img_path }}" alt="" class="card-img-top" />
        <div class="card-body">
          <h4 class="card-title">{{ team.name }}</h4>
          <p class="card-text">
            {{ team.bio }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section-5 text-center">
  <h2>Get Templates of customised T-shirts</h2>
  <h6 class="my-4">Drop your email and we will get in touch with you.</h6>
  <div class="form-inline justify-content-center">
    <input
      type="text"
      name="email"
      id="email"
      placeholder="Enter your email"
      size="40"
      class="form-control px-4 py-2"
    />
    <input
      type="button"
      value="Contact Us"
      class="btn btn-danger px-4 py-2 ml-2"
    />
  </div>
</div>

<div class="container-fluid padding mt-4">
  <div class="row text-center padding">
    <div class="col-12">
      <h2>Connect</h2>
    </div>
    <div class="col-12 social padding">
      <a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa-google" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
    </div>
  </div>
</div>

<footer>
  <div class="container-fluid">
    <div class="row text-center">
      <div class="col-md-4">
        <h2>Logo</h2>
        <hr class="light" />
        <p>+91-7209373616</p>
        <p>igaurav.asopa@gmail.com</p>
        <p>004, Surya Palace</p>
        <p>Bengaluru,Karnataka,560076</p>
      </div>
      <div class="col-md-4">
        <hr class="light" />
        <h2>Our Hours</h2>
        <hr class="light" />
        <p>Monday: 9am - 6pm</p>
        <p>Saturday: 10am - 4pm</p>
        <p>Sunday: Closed</p>
      </div>
      <div class="col-md-4">
        <hr class="light" />
        <h2>Useful Links</h2>
        <hr class="light" />
        <p>L1</p>
        <p>L2</p>
        <p>L3</p>
      </div>
      <div class="col-12">
        <hr class="light-100" />
        <h5><i class="fa fa-copyright" aria-hidden="true"></i>abc.com</h5>
      </div>
    </div>
  </div>
</footer>
